/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    background-color: white;
    /*overflow: hidden;*/
    font-family: 'Lato', sans-serif;
}

#container {
    width: 90%;
    margin: 0 auto;
    margin-top: 3%;
}

#images {
  width: 90%;
  margin: 0 auto;
  margin-top: 5%;
  /*background-color: black;*/
}

img {
  max-width: 25%;
  margin: 0 5px;
}
h1 {
    /*text-transform: uppercase;*/
    letter-spacing: .08em;
    font-size: 2.9vw;
    font-weight: 300;
    color: white;
    line-height: 1.5em;
}
#key h1 {
  text-align: center;
  font-size: 1.3vw;
}
.web {
  color: white;
  /*border-bottom: 0 solid yellow;*/
  background-color: yellow;
  padding: 0 5px;
}
.poster {
  color: white;
  /*border-bottom: 0 dashed mediumvioletred;*/
  background-color: mediumvioletred;
  padding: 0 5px;
}
.book {
  color: white;
  /*border-bottom: 0 dotted greenyellow;*/
  background-color: greenyellow;
  padding: 0 5px;
}
.identity {
  color: white;
  /*border-bottom: 0 double blue;*/
  background-color: blue;
  padding: 0 5px;
}
.other {
  color: white;
  /*border-bottom: 0 solid mediumslateblue;*/
  background-color: mediumslateblue;
  padding: 0 5px;
}

#key .web, #key .poster, #key .book, #key .identity, #key .other {
  /*border-width: 1px;*/
  padding: 0 3px;
} 

.head {
  color: white;
}
.years {
  color: silver;
  background-color: white;
  padding: 0 4px;
  font-weight: 900;
}

.divide {
  color: silver;
  font-weight: 900;
}

#small {
  display: none;
}
ul {
  list-style-type: none;
}

li {
  font-size: 6vw;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
    background-color: white;
    padding: 0 5px;
}

a:hover, a:active {
    text-decoration: none;
    color: white;
    background-color: white;
    padding: 0 5px;
}

a#name {
    text-decoration: none;
    /*color: midnightblue;*/
    background-color: midnightblue;
    padding: 0 5px;

}

a#name:hover, a#name:active {
    text-decoration: none;
    /*border-color: white;*/
    color: midnightblue;
    background-color: white;
    padding: 0 5px;
}
a.web {
  color: white;
  /*border-bottom: 2px solid yellow;*/
  background-color: paleturquoise;
  padding: 0 5px;
}
a.web:hover, a.web:active {
  text-decoration: none;
  /*border-bottom: 3px solid yellow;*/
  color: paleturquoise;
  background-color: white;
  padding: 0 5px;
}
a.poster {
  color: white;
  /*border-bottom: 2px dashed mediumvioletred;*/
  background-color: darkturquoise;
  padding: 0 5px;
}
a.poster:hover, a.poster:active {
  text-decoration: none;
  /*border-bottom: 3px dashed mediumvioletred;*/
  color: darkturquoise;
  background-color: white;
  padding: 0 5px;
}
a.book {
  color: white;
  /*border-bottom: 2px dotted greenyellow;*/
  background-color: steelblue;
  padding: 0 5px;
}
a.book:hover, a.book:active {
  text-decoration: none;
  /*border-bottom: 3px dotted greenyellow;*/
  color: steelblue;
  background-color: white;
  padding: 0 5px;
}
a.identity {
  color: white;
  /*border-bottom: 2px double blue;*/
  background-color: deepskyblue;
}
a.identity:hover, a.identity:active {
  text-decoration: none;
  /*border-bottom: 3px double blue;*/
  color: deepskyblue;
  background-color: white;
  padding: 0 5px;
}
a.other {
  color: white;
  /*border-bottom: 2px solid mediumslateblue;*/
  background-color: mediumaquamarine;
}

a.other:hover, a.other:active {
  text-decoration: none;
  /*border-bottom: 3px solid mediumslateblue;*/
  color: mediumaquamarine;
  background-color: white;
  padding: 0 5px;
}
.img a {
  -webkit-transition: -webkit-filter 700ms ease;
  -webkit-filter: grayscale(1);
}
.img a:hover, .img a:active {
  -webkit-filter: none;
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media screen and (min-width: 1800px) {
  
}

@media screen and (max-width: 1000px) {
  
}

@media screen and (max-width: 900px) {
  h1 { font-size: 4vw; }
}

@media screen and (max-width: 720px) {
  h1 { font-size: 4.5vw; }
}

@media screen and (max-width: 420px) {
  h1 { font-size: 6vw; line-height: 1.5em }
  
}


@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
