* {
	border-sizing: border-box;
	-webkit-border-sizing: border-box;
	/*font-size: 16px;*/
	font-family: 'Lato', sans-serif;
}
em {
	font-weight: 700;
	font-size: .9em;
	font-style: normal;
}
body {
	margin: 0;
}
#container {
	width: 90vw;
	max-width: 1000px;
	margin: 0 auto;
}
header {
	width: 100%;
	height: 90vh;
	/*border-bottom: 1px solid black;*/
	position: relative;
	top: 0;
	background: url(../img/main1.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0;
}
#hero {

}
header.inside {
	height: 100px;
}
#headlogo {
	position: relative;
	top: 0;
	width: 100%;
	margin: 0 auto;
}
#headlogo h1 {
	font-size: 3em;
	text-align: center;
	margin: 0;
	color: white;
}
#headlogo h1.insidename {
	font-size: 3em;
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: .1em;	
}
.textbox {
	padding-top: 30vh;
}
.insidetextbox {
	padding-top: 20px;
}
.oneline, .twoline, .threeline {
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: .1em;
}
#headlogo h1.twoline {
	font-size: 5.5em;
}
.clearfix {
	clear: both;
}
nav {
	width: 100%;
	margin: 20px auto;
	padding-bottom: 15px;
	border-bottom: 1px solid grey;
}
#navbar {
	background-color: white;
}
.navbar-fixed {
    top: 0;
    z-index: 100;
  	position: fixed;
    width: 90vw;
    max-width: 1000px;
    margin: 0 auto;
}
.navbar-fix {
	padding-top: 73px;
}
.navbox {
	width: 78%;
	margin: 0 auto;
}
nav .button {
	padding: 0 20px;
	margin: 0;
	float: left;
	border-bottom: 1px solid white
}
nav .active {
	border-bottom: 1px solid grey;
}
nav .button:hover {
	border-bottom: 1px solid grey;
}
nav .button p {
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
	line-height: .2em;
}
nav a {
	text-decoration: none;
	color: black;
}
nav a:hover {

}
h2 {
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-size: 2em;
	text-align: center;
}
.reg {
	font-style: normal;
}
.center {
	text-align: center;
}
h4 {
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
	font-size: .8em;
}
.main {
	margin: 20px 0 50px 0;
}
.main .col {
	width: 30%;
	float: left;
}
.col.left {
	margin-right: 5%;
}
.col.right {
	margin-left: 5%;
}
.coldouble{
	width: 65%;
	float: left;
}
.coldouble h2 {
	margin: 0;
	padding: 0;
}
p {
	font-weight: 300;
	font-size: 16px;
	line-height: 1.3em;
}
ul {
	list-style: none;
	padding-left: 10px;
}
li {
	font-weight: 300;
	font-size: .8em;
}

.main a:link, .main a:visited {
	text-decoration: none;
	color: black;
	border-bottom: 1px dotted black;
}
.main a:hover, .main a:active {
	text-decoration: none;
	color: royalblue; 
	border-bottom: 1px dotted royalblue;
}
img{
	max-width: 100%;
}
footer {
	width: 534px;
	margin: 50px auto;
}
footer .button {
	padding: 0 20px;
	margin: 0;
	float: left;
}
footer .button p {
	font-size: .6em;
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
	line-height: .2em;
}
footer p {
	font-size: .6em;
	text-align: center;
	font-weight: 300;
	line-height: .6em;
}
footer a {
	text-decoration: none;
	color: grey;
	-webkit-transition: color 500ms ease;
}
footer a:hover {
	color: black;
}
