/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    background-color: whitesmoke;
    /*overflow: hidden;*/
    font-family: 'Lato', sans-serif;
}

.hide {
  visibility: hidden;
}

#container {
    width: 90%;
    margin: 0 auto;
    margin-top: 1%;
}
#containerinside {
    width: 100%;
    /*margin-top: 1%;*/
}

#large {
  margin-bottom: 50px;
}
#cat {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: darkturquoise;
}

#cat h1, #nav h1 {
  font-size: 16px;
  color: whitesmoke;
  text-align: center;
}

#cat .divide, #nav .divide {
  color: whitesmoke;
}
#nav {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 40%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: darkturquoise;
}
#title {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 40%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: darkturquoise;
}

#title p {
  text-align: center;
  margin: .4em 0;
  
}

.project {
  text-transform: uppercase;
  font-weight: 900;
}

.description {
  margin: 20px 0 0 0;
}

#text {
  width: 30%;
  position: fixed;
  left: 5%;
  top: 5%;
}
#imagecontainer {
  width: 60%;
  float: right;
}
#images {
  width: 90%;
  margin: 0 auto;
}
.full {
  margin: 0 .5% 1% .5%;
  clear: both;
}
.half {
  width: 49%;
  margin: 0 .5% 1% .5%; 
  float: left;
}
img {
  max-width: 100%;
}
h1 {
    /*text-transform: uppercase;*/
    letter-spacing: .08em;
    font-size: 2.9vw;
    font-weight: 300;
    color: darkgrey;
    line-height: 1.5em;
}
.head {
  color: darkgrey;
}
.years {
  color: whitesmoke;
  background-color: darkturquoise;
  padding: 0 4px;
  font-weight: 400;
}

.divide {
  color: darkturquoise;
  font-weight: 400;
  /*display: none;*/
}
.activeweb {color: tomato;}
.activeposter {color: darkorange;}
.activebook {color: crimson;}
.activeidentity {color: darkred;}
.activeother {color: mediumvioletred;}
p {
    margin: 4px 0;
}

#title p a {
  font-size: 20px;
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  border: none;
  font-weight: 300;
}

#title p a:hover, #title p a:active {
  color: black;
  border-bottom: 2px solid black;
} 

p a {
  color: black;
  border-bottom: 2px solid black;
  padding: 0;
}

p a:hover, p a:active {
  color: darkturquoise;
  border-bottom: 2px solid darkturquoise;
  padding: 0;
}

a {
    text-decoration: none;
    color: darkgrey;
    /*background-color: oldlace;*/
    padding: 0 5px;
    white-space: nowrap;
}

a:hover, a:active {
    text-decoration: none;
    color: darkturquoise;
    border-bottom: 3px solid darkturquoise;
    padding: 0 5px;
}
a.web:hover, a.web:active {color: tomato; border-bottom: 2px solid tomato;}
a.poster:hover, a.poster:active {color: darkorange; border-bottom: 2px solid darkorange;}
a.book:hover, a.book:active {color: crimson; border-bottom: 2px solid crimson;}
a.identity:hover, a.identity:active {color: darkred; border-bottom: 2px solid darkred;}
a.other:hover, a.other:active {color: mediumvioletred; border-bottom: 2px solid mediumvioletred;}

a#name {
    text-decoration: none;
    color: darkturquoise;
    /*background-color: midnightblue;*/
    padding: 0 5px;

}

a#name:hover, a#name:active {
    text-decoration: none;
    border-bottom: 3px solid darkturquoise;
    color: darkturquoise;
    /*background-color: oldlace;*/
    padding: 0 5px;
}

#nav a {
  font-size: 16px;
  color: whitesmoke;
  text-align: center;
}

#nav a:hover, #nav a:active {
  border-bottom: 1px solid whitesmoke;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media screen and (min-width: 1800px) {
  
}

@media screen and (max-width: 1000px) {
  
}

@media screen and (max-width: 900px) {
  h1 { font-size: 4vw; }
  a { white-space: normal; }
}

@media screen and (max-width: 768px) {
  h1 { font-size: 4.5vw; }
  a { white-space: normal; }
  #cat {width: 100%; position: fixed; bottom: 0; left: 0; background-color: darkturquoise;}
  #cat h1 {font-size: 16px; text-align: center; color: whitesmoke;}
  #cat .divide { color: whitesmoke;}
  #text {position: static; width: 90%; margin: 60px auto 5% auto; float: none; clear: both;}
  #imagecontainer {position: static; width: 100%; margin: 0 auto 50px auto; float: none; clear: both;}
  #images {width: 100%;}
  #nav {width: 100%; position: fixed; bottom: 0; left: 0; background-color: darkturquoise;}
  #nav h1 {font-size: 16px; text-align: center; color: whitesmoke;}
  #title { width: 100%; }
}

@media screen and (max-width: 420px) {
  h1 { font-size: 6vw; line-height: 1.5em }
  a { white-space: normal; }
  #cat {width: 100%; position: fixed; bottom: 0; left: 0; background-color: darkturquoise;}
  #cat h1 {font-size: 16px; text-align: center; color: whitesmoke;}
  #cat .divide { color: whitesmoke;}
  #text {position: static; width: 90%; margin: 60px auto 5% auto; float: none; clear: both;}
  #imagecontainer {position: static; width: 100%; margin: 0 auto 50px auto; float: none; clear: both;}
  #images {width: 100%;}
  #nav {width: 100%; position: fixed; bottom: 0; left: 0; background-color: darkturquoise;}
  #nav h1 {font-size: 16px; text-align: center; color: whitesmoke;}
  #title { width: 100%; }
}


@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
